.bevezeto{
    padding: 30px;
    text-align: center;
}

#wheader{
    background-color: #a56e2a;
}

.goldbg{
    background-color: #FFD700;
}

.silverbg{
    background-color: #C0C0C0;
}

.bronzebg{
    background-color: #CD7F32;
}

#leiras{
    margin: 10px;
}

body{
    background-image: url("img/depositphotos_16619045-stock-photo-vintage-template.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}